[FORMAT]
2.0

[DATA FILE]
data/bnsLidCavity2D.h

[MESH FILE]
../../meshes/LidCavityTri2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.00002

[SPEED OF SOUND]
1.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
300.0

[OUTPUT INTERVAL]
10.0

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bnsLidCavity2D
