[FORMAT]
2.0

[DATA FILE]
data/lbsLidCavity2D.h

[MESH FILE]
../../meshes/LidCavityTri2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
10

[BOX NY]
10

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
# Ma/(c*Re)
#0.0001732
# Ma*c/Re
0.00057735

[VELOCITY MODEL]
D2Q9

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.1

[START TIME]
0

[FINAL TIME]
1000

[OUTPUT INTERVAL]
50

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
lbs_lidCavity
